{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{#    <script src="https://code.jquery.com/jquery-1.12.4.min.js"> </script>#}
{#    <script src="https://use.fontawesome.com/f9b4728164.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
{#    <script src="http://www.codingdrama.com/bootstrap-markdown/js/to-markdown.js"></script>#}
{#    <script src="http://www.codingdrama.com/bootstrap-markdown/js/markdown.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <div class="container p-3 my-3 border">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#statement">Statement</a></li>
            <li><a data-toggle="tab" href="#menu1">Judge Code</a></li>
            <li><a data-toggle="tab" href="#menu2">Agents</a></li>
            <li><a data-toggle="tab" href="#menu3">Visualization Code</a></li>
            <li><a data-toggle="tab" href="#menu3">Testing Sandbox</a></li>
        </ul>

        <div class="tab-content">
            <div id="statement" class="tab-pane fade in active">
                <br>
                <form>
                        <div class="form-group">
                            <label for="Title">Title</label>
                            <input class="form-control" type="text" placeholder="Title" id="Title">
                        </div> <br>
                        <div class="form-group">
                            <label for="Body">Body</label>
                            <textarea class="form-control" id="Body" data-provide="markdown" rows="10"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>
            <div id="menu1" class="tab-pane fade">
                <br>
                <form>
                    <div class="form-group">
                        <label for="language">Select Language</label>
                        <select class="form-control" id="sel1">
                            <option>g++17</option>
                            <option>python</option>
                            <option>g++14</option>
                            <option>Rust</option>
                        </select>
                    </div> <br>
                    <div class="form-group">
                            <label for="judge_code">Judge Code</label>
                            <textarea class="form-control" id="judge_code" rows="10"></textarea>
                        </div>
                        <button type="submit_judge_code" class="btn btn-primary">Submit</button>
                </form>
             </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
        </div>




    </div>



{% endblock content %}