{% extends "base.html" %}
{% block additionalCSS %}


{% endblock additionalCSS %}
{% block content %}

    <div class="container container-fluid" align="center">
        <div class="embed-responsive embed-responsive-1by1" >
                <button type="button" class="btn btn-secondary btn-lg btn-block">
                    <h5> {{ match.submission0.getDescription }}
                    <br> vs <br>
                    {{ match.submission1.getDescription }}</h5>
                </button>

                <br>
            <iframe class="embed-responsive-item" align="center" srcdoc= "{{ iframe_src_doc }}" width="410" height="520">
            </iframe>
                <br>
                 <p>
                  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#matchHistory" aria-expanded="false" aria-controls="matchHistory">
                    Match History
                  </button>

                 </p>
                <div class="collapse" id="matchHistory">
                  <div class="card card-body" align="left">
                      <pre><code>{{ match_history_raw }}</code></pre>
                  </div>
                </div>
            </div>



        </div>
    </div>
{% endblock content %}