{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block additionalCSS %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/dist/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dist/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/dist/css/style.css' %}">
{% endblock additionalCSS %}

{% block title %}
    <title>{{ profile_user.username }} Tournament Details - OnlineAI</title>
{% endblock title %}

{% block content %}
    <form action="reg_unreg" method="post">

    {% csrf_token %}
  <div class="content">

    <div class="container">
      <div class="row">
        <div class="col-md-5 mr-auto">
          <h2>Description</h2>
          <p class="mb-5">{{ tournament.description }}</p>
        </div>

        <div class="col-md-6">
            <div class="row">

              <div class="col-md-12 form-group">
                <label for="name" class="col-form-label">Tournament Name</label>
                <h5>{{ tournament.name }}</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="email" class="col-form-label">Game</label>
                <h5>{{ game }}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <label for="startTime" class="col-form-label">Start Time</label>
                <h5>{{ tournament.startTime }}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <label for="endTime" class="col-form-label">End Time</label>
                <h5>{{ tournament.endTime }}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <label for="phase" class="col-form-label">Phase</label>
                <h5>{{ tournament.phase }}</h5>
              </div>
            </div>

            <script>
                function addValuereg()
                {
                    let val = document.getElementById('register');
                    val.value = 'reg ' + {{ tournament.id }}
                }
                function addValueunreg()
                {
                    let val = document.getElementById('register');
                    val.value = 'unreg ' + {{ tournament.id }}
                }
            </script>

            <div class="row">
                <div class="col-md-12">
            {% if visible %}
                {% if registered %}
                    <input id="register" name="register" type="hidden">
                    <input type="submit" onclick="addValueunreg()" value="Unregister" id="mybutton" class="btn btn-danger rounded-0 py-2 px-4">
                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make your submission</a>
                {% else %}
                    <input id="register" name="register" type="hidden">
                    <input type="submit" onclick="addValuereg()" value="Register" id="mybutton" class="btn btn-success rounded-0 py-2 px-4">
                {% endif %}
            {% endif %}
                </div>
            </div>
        </div>
      </div>
  </div>
  </div>
        <div class="container">
            <a href="{% url 'tournamentList' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go to tournament list</a>
        </div>
 </form>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}