{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Tournament List</title>
{% endblock title %}

{% block content %}
    {% if tournaments %}
        <h1>Active Tournament(s)</h1>
        <ul>
            {% for tournament in tournaments %}
                <a href="{% url 'show_tournament_workspace' tournament.tournament_uuid %}" class="list-group-item list-group-item-action">{{ tournament.name }}</a>
            {% endfor %}
        </ul>
    {% endif %}

    {% if myTournaments %}
        <h1>My Tournament(s)</h1>
        <ul>
            {% for tournament in myTournaments %}
                <a href="{% url 'show_tournament_workspace' tournament.tournament_uuid %}" class="list-group-item list-group-item-action">{{ tournament.name }}</a>
            {% endfor %}
        </ul>
    {% endif %}

    {% if registeredTournaments %}
        <h1>Registered Tournament(s)</h1>
        <ul>
            {% for tournament in registeredTournaments %}
                <a href="{% url 'show_tournament_workspace' tournament.tournament_uuid %}" class="list-group-item list-group-item-action">{{ tournament.name }}</a>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container">
        {% if show %}
            <a href="{% url 'show_tournament_creator_page' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create your Tournament</a>
        {% endif %}
    </div>
{% endblock content %}