{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{#    <script src="https://code.jquery.com/jquery-1.12.4.min.js"> </script>#}
{#    <script src="https://use.fontawesome.com/f9b4728164.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
{#    <script src="http://www.codingdrama.com/bootstrap-markdown/js/to-markdown.js"></script>#}
{#    <script src="http://www.codingdrama.com/bootstrap-markdown/js/markdown.js"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{#    #}
{#    <script#}
{#  src="https://code.jquery.com/jquery-3.4.1.min.js"#}
{#  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="#}
{#  crossorigin="anonymous"></script>#}
{##}
<script text="javascript">
    setTimeout(fade_out, 3000);
    function fade_out() {
        $(".alert.alert-success").fadeOut().empty();
    }
</script>


    <div class="container p-3 my-3 border">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active">
                <a class="nav-link active" id="tournament-description-tab" data-toggle="tab" href="#tournament"
                   role="tab" aria-controls="tournament-description-tab" aria-selected="true">Tournament</a></li>
            <li>
                <a class="nav-link" id="problem-description-tab" data-toggle="tab" href="#problem"
                   role="tab" aria-controls="problem-description-tab" aria-selected="false">Problem</a></li>
            <li>
                <a class="nav-link" id="submission-tab" data-toggle="tab" href="#submit"
                   role="tab" aria-controls="submission-tab" aria-selected="false">Submit</a></li>
            <li>
                <a class="nav-link" id="submissions-tab" data-toggle="tab" href="#submissions"
                   role="tab" aria-controls="submissions" aria-selected="false">Submissions</a></li>
            <li>
                <a class="nav-link" id="testing-sandbox-tab" data-toggle="tab" href="#test_sandbox"
                   role="tab" aria-controls="testing-sandbox-tab" aria-selected="false">Testing Sandbox</a></li>
            <li>
                <a class="nav-link" id="matches" data-toggle="tab" href="#matches"
                   role="tab" aria-controls="matches" aria-selected="false">Matches</a></li>
            <li>
                <a class="nav-link" id="ranklist" data-toggle="tab" href="#ranklist"
                   role="tab" aria-controls="ranklist" aria-selected="false">Ranklist</a></li>
        </ul>

        <div class="tab-content">
            <div id="tournament" class="tab-pane fade in active">
                <form action="{% url 'register_tournament' tournament.tournament_uuid %}" method="post">
                    {% csrf_token %}
                    <div class="content">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-5 mr-auto">
                                    <h2>Description</h2>
                                    <p class="mb-5">{{ tournament.description }}</p>
                                </div>

                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="name" class="col-form-label">Tournament Name</label>
                                            <h5>{{ tournament.name }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="email" class="col-form-label">Game</label>
                                            <h5>{{ game }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="startTime" class="col-form-label">Start Time</label>
                                            <h5>{{ tournament.start_time }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="endTime" class="col-form-label">End Time</label>
                                            <h5>{{ tournament.end_time }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="phase" class="col-form-label">Phase</label>
                                            <h5>{{ tournament.get_phase_display }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="tournamentType" class="col-form-label">Tournament Type</label>
                                            <h5>{{ tournament.get_tournament_type_display }}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label for="maxMatches" class="col-form-label">Max Match Generation Limit</label>
                                            <h5>{{ tournament.max_match_generation_limit }}</h5>
                                        </div>
                                    </div>

                                    <script>
                                        function addValuereg() {
                                            let val = document.getElementById('register');
                                            val.value = 'reg ' + {{ tournament.id }}
                                        }
                                        function addValueunreg() {
                                            let val = document.getElementById('register');
                                            val.value = 'unreg ' + {{ tournament.id }}
                                        }
                                    </script>

                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if visible %}
                                                {% if registered %}
                                                    <input id="register" name="register" type="hidden">
                                                    <input type="submit" onclick="addValueunreg()" value="Unregister" id="mybutton" class="btn btn-danger rounded-0 py-2 px-4">
                                                    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Make your submission</a>
                                                {% else %}
                                                    <input id="register" name="register" type="hidden">
                                                    <input type="submit" onclick="addValuereg()" value="Register" id="mybutton" class="btn btn-success rounded-0 py-2 px-4">
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <a href="{% url 'tournamentList' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go to tournament list</a>
                    </div>
                </form>
            </div>

            <div id="problem" class="tab-pane fade">
                <h1>
                    Problem Description
                </h1>
            </div>
            <div id="submit" class="tab-pane fade">
                <br>
                <form action="{% url 'add_submission' tournament.tournament_uuid %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="language">Select Language</label>
                        <select class="form-control" id="submission_language" name="submission_language">
                            <option value="python2">python2</option>
                            <option value="python3">python3</option>
                            <option value="g++11">g++11</option>
                            <option value="g++14">g++14</option>
                            <option value="g++17">g++17</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="agent_code">Submission Code</label>
                        <pre><code><textarea class="form-control" id="submission_code" rows="15" name="submission_code"></textarea></code></pre>
                    </div>
                    <button type="submit_judge_code" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div id="submissions" class="tab-pane fade">
                <h1>
                    Problem Description
                </h1>
            </div>
            <div id="test_sandbox" class="tab-pane fade">
                <h1>
                    Problem Description
                </h1>
            </div>

        </div>
    </div>


{% endblock content %}