{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block additionalCSS %}
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/checkout/">
    <link href="{% static 'assets/dist/css/form-validation.css' %}" rel="stylesheet">
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock additionalCSS %}

{% block title %}
    <title>{{ profile_user.username }} Update Tournament - OnlineAI</title>
{% endblock title %}

{% block content %}
<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="{% static 'assets/brand/freeLogo.jpeg' %}" alt="" width="200" height="200">
      <h2> Update Tournament: {{ tournament.name }}</h2>
    </div>
        <form action= "{% url 'post_update_tournament' tournament.tournament_uuid %}"method="post" class="needs-validation" novalidate>
            {% csrf_token %}
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="tournamentName" class="form-label">Tournament name</label>
              <input type="text" class="form-control" name="tournamentname" id="tournamentname" placeholder="" value={{ tournament.name }}>
              <div class="invalid-feedback">
                Valid tournament name is required.
              </div>
            </div>

            <div class="col-md-5">
              <label for="game" class="form-label">Game</label>
              <select class="form-select" name="game" id="game" required>
                  <option value="{{ tournament.game.pk }}">{{ tournament.game.game_title }}</option>

                  {% for game in games %}
                      {% if game.pk != tournament.game.pk %}
                          <option value="{{ game.pk }}">{{ game.game_title }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please select a valid game.
              </div>
            </div>

            <div class="col-md-5">
              <label for="tournamentType" class="form-label">Tournament Type</label>
              <select class="form-select" name="tournamentType" id="tournamentType" required>
                <option value="{{ tournament.tournament_type }}">{{ tournament.getTypeName }}</option>
                  {% for option in tournament_types %}
                      {% if tournament.getTypeName != option %}
                        <option value="{{ option }}">{{ option }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
              <div class="invalid-feedback">
                Please select a valid tournament type.
              </div>
            </div>

            <div class="col-md-5">
              <label for="maxmatches" class="form-label">Max Match Generation Limit</label>
              <input type="number" class="form-control" name="maxMatches" id="maxMatches" min="0" max={{ MAX_TEST_GENERATION_LIMIT}}, value={{ tournament.max_match_generation_limit }}>
              <div class="invalid-feedback">
                Please select a valid number within 0 to {{ MAX_TEST_GENERATION_LIMIT }}.
              </div>
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Description</label>
              <div class="input-group has-validation">
                  <textarea class="form-control" id="description" name="description" data-provide="markdown" rows="5"></textarea>
              </div>
            </div>

            <div class="col-12">
              <label for="startTime" class="form-label">Start Time</label>
                <input type="date" name="startdate" id="startdate" value={{ tournament.start_time | date:"Y-m-d" }}>
                <input type="time" name="starttime" id="starttime" value={{ tournament.start_time | time:"H:i" }}>
                {{ servertime|time:"e" }}
            </div>

            <div class="col-12">
              <label for="endTime" class="form-label">End Time </label>
                <input type="date" name="enddate" id="enddate" value={{ tournament.end_time | date:"Y-m-d" }}>
                <input type="time" name="endtime" id="endtime" value={{ tournament.end_time | time:"H:i" }}>
                {{ servertime|time:"e" }}
            </div>



          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Update tournament</button>
          </div>
        </form>
  </main>
</div>

{% endblock content %}
