{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>OnlineAI</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <nav class="navbar navbar-expand-sm bg-dark">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="navbar-brand" href="#">
            <img src="{% static 'assets/brand/freeLogo.jpeg' %}" alt="" style="width:50px;">
        </li>
          <li class="navbar-brand" href="#">
            <img src="{% static 'assets/brand/OnlineAINeonText.jpg' %}" alt="" style="width:150px;">
        </li>

        <li class="nav-item"><a href="#" class="nav-link link-light px-2 active" aria-current="page">Tournament</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Archives</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-light px-2">Help</a></li>

      </ul>

      <ul class="nav">
          <form class="form-inline" action="#">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link link-light px-2">Login</a></li>
        <li class="nav-item"><a href="{% url 'createuser' %}" class="nav-link link-light px-2">Sign up</a></li>
      </ul>
    </div>
  </nav>

    {% block content %}


    {% endblock content %}

</body>
</html>