{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <style>
        .footer{
           position:relative;
           bottom:0
        }
    </style>


    {% block title %}
        <title>OnlineAI</title>
    {% endblock title %}


    {% block additionalCSS %}

        <!-- Additional CSS -->

    {% endblock additionalCSS %}
</head>


<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    {% block navbar %}

        <nav class="navbar navbar-expand-sm bg-dark">
        <div class="container d-flex flex-wrap">
          <ul class="nav me-auto">
            <li class="navbar-brand" href="#">
                <a href="{% url 'home' %}">
                <img src="{% static 'assets/brand/freeLogo.jpeg' %}" alt="" style="width:50px;">
                </a>
            </li>
              <a href="{% url 'home' %}">
                <li class="navbar-brand" href="#">
                    <img src="{% static 'assets/brand/OnlineAINeonText.jpg' %}" alt="" style="width:150px;">
                </li>
              </a>

            <li class="nav-item"><a href="{% url 'tournamentList' %}" class="nav-link link-light px-2 active" aria-current="page">Tournaments</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-light px-2">Games</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-light px-2">Rating</a></li>

          </ul>

          <ul class="nav">
              {% if user.is_authenticated %}
                <img class="rounded-circle account-img" src="{{ user.userprofile.image.url }}" style="width: 40px; height: 40px;">
                 <li class=  "nav-item">
                  <a href="{% url 'viewprofile' profile_name=user.username%}" class="nav-link link-light px-2">{{ user.username }}</a></li>
                <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link link-light px-2">Logout</a></li>

              {% else %}
                <li class=  "nav-item"><a href="{% url 'login' %}" class="nav-link link-light px-2">Login</a></li>
                <li class="nav-item"><a href="{% url 'register' %}" class="nav-link link-light px-2">Sign up</a></li>
              {% endif %}
          </ul>
        </div>
      </nav>

    {% endblock navbar %}


    {% block alert %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock alert %}

        {% block content %}


        {% endblock content %}

    {% block footer %}
        <footer class="modal-footer footer wrapper" style="margin-top:2cm">
            <p class="mb-1"> 2021-2022 Online_AI</p>
        </footer>
    {% endblock footer %}

</body>
</html>