{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>{{ profile_user.username }} Profile - OnlineAI</title>
{% endblock title %}


{% block additionalCSS %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'assets/dist/css/profile.css' %}" rel="stylesheet">
{% endblock additionalCSS %}

{% block content %}
    <div class="container emp-profile center">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img class="img-thumbnail account-img" alt="" src="{{ profile_user.userprofile.image.url }}"
                             style="width: 200px; height: 200px;">
                    </div>
                      {% comment %}  <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                      {% endcomment %}
                </div>

                <div class="col-md-6">
                    <div class="profile-head">
                            <h5>{{ profile_user.username }}</h5>
                            <h6> {{ profile_user.first_name }} {{ profile_user.last_name }}</h6>
                            <p> Rating: {{ profile_user.userprofile.rating }}</p>
                            {% ifequal profile_user user%}
                            <a class="btn btn-success" href={% url 'update_profile' %} >Edit profile</a>
                            {% endifequal %}
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div>
                    <ul class="nav nav-tabs" id="profileTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">Contest History</a>
                        </li>
                        {% ifequal profile_user user %}
                        <li class="nav-item">
                            <a class="nav-link" id="workspaces-tab" data-toggle="tab" href="#workspaces" role="tab" aria-controls="workspaces" aria-selected="false">My Workspaces</a>
                        </li>
                        {% endifequal %}
                    </ul>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>User Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile_user.username }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile_user.first_name }} {{ profile_user.last_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ profile_user.email }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Country</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{  profile_user.userprofile.country.name }}</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Joined</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{  profile_user.date_joined |date:"j F Y"}}</p>
                                        </div>
                                    </div>

                        </div>

                        <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">

                        </div>


                        {% ifequal profile_user user %}
                        <div class="tab-pane fade" id="workspaces" role="tabpanel" aria-labelledby="workspaces-tab">
                            <div class="container">
                                <a class="btn btn-success" href={% url 'create_game' %} >Create New Game</a>
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Your Games</th>
                                  </tr>
                                </thead>

                                <tbody>

                                {% for workspace in workspaces %}
                                  <tr>
                                    <td>
                                        <a href={% url 'game_creator_show_workspace' workspace_id=workspace.game.game_uuid %}>
                                        {{ workspace.game.game_title }}
                                        </a>
                                    </td>
                                  </tr>
                                {% endfor %}


                                </tbody>
                              </table>
                            </div>

                        </div>
                        {% endifequal %}
                      </div>
                </div>
            </div>
        </div>


{% endblock content %}